.main-nav a:hover {
  color: #AAAAAA;
}

/* Menu container - Right hand side of screen*/
.main-nav{
  float: right;
}

/* All top level menus */
.main-nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

/* All menu items - creates the drop down */
.main-nav li {
  margin-right: 5px;
  float: left;
}

/* All sub-nav */
.main-nav li ul {
  display: none;
  position: absolute;
}

/* Show drop down menus when hovered */
.main-nav li:hover ul {
  display: block;
}

/* Trasform sub menus from horizontal to vertical */
.main-nav li:hover li {
  margin-right: 0;
  float: none;
}

/* All menu items links Black box*/
.main-nav a {
  padding: 10px;
  display: block;
  text-decoration: none;
  background-color: #333;
  color: #FFF;
}

/* All menu items links hover effect */
.main-nav a:hover {
  background-color: #555;
}

/* Get rid of margin on final menu item */
/* Don't worry! We haven't covered the '>' selector yet */
.main-nav > ul > li:last-child {
  margin-right: 0px;
}


h1{
  color: blue;
}
h2{
  color: red;
  font-family: Calibri, sans-serif;
}
p2{
  color: orange;
}

.button {
  display: block;
  padding: 10px;
  color: white;
}
.green {
  background-color: green;
  margin: 10px 20px 30px 20px;
  padding: 50px 100px 200px 50px;
  border: solid 2px #333;
  border-radius: 20px 0px;

  font-family: ‘Roboto’, sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 18pt;
  color: #333;


}
.red {
  background-color: red;
}



a:visited {
  color: pink;
}

.container {
  width: 200px;
  padding: 10px;
}
.left-column {
  float: left;
  width: 100px;
  background-color: #FF5723;
}
.right-column {
  float: left;
  width: 100px;
  background-color: #4285F4;
}

.parent {
  color: white;
  background-color: #333;
}
.boy {
  background-color: #FF5723;
}
.girl {
  background-color: #4285F4;
}
